body {
  text-align: center;
  background-image: url("background-tetris.jpg");
}

.timer {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 45em;
  width: 100%;
  height: 100%;
}

#start {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.startImage {
  width: 100%;
  height: 100%;
}

#startButton {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: orange;
  padding: 10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid orange;
  font-size: 15px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#startButton:hover {
  background-color: #fff;
  color: orangered;
  font-weight: bold;
}

.title {
  font-size: 70px;
  font-family: monospace;
  color: white;
  padding-top: 40px;
  margin: 0;
}
.subtitle {
  font-size: 20px;
  font-family: monospace;
  color: white;
  position: absolute;
  bottom: 10px;
  margin: 0;
  right: 10px;
}

.startContainerNoOpacity {
  position: absolute;
  top: calc(47% - 300px);
  left: calc(50% - 150px);
  width: 300px;
  height: 600px;
  z-index: 400;
  border: 1px solid white;
}

.startContainer {
  position: absolute;
  top: calc(47% - 300px);
  left: calc(50% - 150px);
  width: 300px;
  height: 600px;
  opacity: 0.8;
  background: white;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: orange;
}

.timerText {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  color: white;
  width: 100%;
  height: 100%;
}

.scoreContainer {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  display: flex;
}
.scoreContainer {
  background-color: white;
  width: 170px;
}

#welcomeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  width: 200px;
  height: 150px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  padding: 7px 26px;
  border-radius: 15px;
  padding: 7px 26px;
  font-size: 25px;
  align-items: flex-start;
  opacity: 0.5;
}
#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#textWelcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 43px;
  right: 80px;
  font-size: 25px;
  z-index: 101;
  font-weight: bold;
  font-family: monospace;
}

#gameOver {
  width: 600px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 300px);
  background-color: white;
  z-index: 9999999;
  border: 1px solid white;
}
#playAgain {
  position: absolute;
  top: calc(66% - 48px);
  left: calc(57% - 122px);
  z-index: 99999991;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: orangered;
  padding: 10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid orangered;
  font-size: 15px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#playAgain:hover {
  background-color: #fff;
  color: red;
  font-weight: bold;
}
